<h1 class="page_top">Tickety Index Page</h1>

<div class="row">
<% if @entire_tickets.length == 0 %>
  <em>No tickets found! </em>
<% else %>
  <div class="col-md-6 tickets">
    <ul>
      <h3>Unresolved tickets:</h3>
      <% @unresolved.each do |t| %>
        <%= render partial: "/tickets/tickets", locals: { t: t } %>      
      <% end %>
    </ul>
  </div>

  <div class="col-md-6 tickets">
    <ul>
      <h3>Resolved tickets:</h3>
      <% @resolved.each do |t| %>
        <%= render partial: "/tickets/tickets", locals: { t: t } %>      
      <% end %>
    </ul>
  </div>
<% end %>
</div>